.navigation {
  position: relative;
  background-color: #1e2126;
  color: #fff;
  font-weight: 700;
  display: flex;
  font-family: 'helvetica neue',helvetica,arial,sans-serif;
  width: 100%;

}

.navigation {
  position: relative;
}

.vsc-initialized{
  border-top: 5px solid red;
  min-width: 1080px;
}


.navigation-large-screen {
  background-color: #1e2126;
  width: 1080px;
  margin: auto;
  padding: 14px 20px;
  box-sizing: border-box;
  text-transform: none;
  font-size: 15px;
  // border: 1px solid green;
}


.nav-item a {
  padding: 5px 15px;
}

.nav-bar {
  width: 1080px;
  justify-content: space-between;
}

.nav-bar {
  // border: 1px solid yellow;

}

.logo {
  align-items: center;
}

.logo-img {
  width: 90px;
  height: 26px;
  background-color: white;
}

.sub-nav {
  // border: 1px solid red;
}

.sub-nav ul {
  // border: 1px solid yellow;
}

.sub-nav ul li {
  padding: 3px;
  // border: 1px solid red;
}

.navigation-search-form .navigation-search {
  border-radius: 4px;
  font-size: 13px;
  font-weight: 400;
  width: 250px;
  // padding: 5px;
  background-color: #fff;
  border: none;
  color: black;
  text-indent:10px;
}

.navigation-search-form .search-button {
  margin-left: -19px;
  padding-right: 5px;
  background-color: #fff;
  // border: 1px solid red;
}

.search-button img {
  height: 15px;
  width: 14px;
}

.login-signup {
  font-size: 13px;
  font-weight: 400;
  margin-left: 20px;
  align-items: center;

}

.signup-link {
  background-color: #F61253;
  padding: 7px 10px;
  border-radius: 3px;
  color: #fff;
}



.login-link, .logout-button,  {
  margin-left: 10px;
  padding: 7px 10px;
}

.username-display {
  padding: 7px 0;

}


.sub-nav a:hover {
  color: #f80046;
}

.sub-nav img:hover {
  background-color: #f80046;
}

.logout-button:hover {
  color: #f80046;
}

.login-signup .signup-link:hover {
  color: #fff;
}

.search-button .navigation-submit:hover {
  background-color: #fff;
}

.navigation-search-form .navigation-search:focus,
.navigation-search-form:hover .navigation-search {
  outline: 0;
  box-shadow: 0 0 3px 3px rgba(150,150,200,.6)
}


.menu:hover .menu-content {
  visibility: visible;
  opacity: 1;
}

.menu-content {
  transition-timing-function: ease-out;
  transition-delay: 200ms;
  transition-duration: 200ms;
}

.menu:hover .menu-content {
  transition-timing-function: ease-in;
}

.menu-content {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  left: 0;
  z-index: 111;
  padding: 20px;
  background-color: #1e2126;
  font-size: 13px;
  line-height: 2;
  display: block;
  top: 32px;
  width: 480px;
  height: 330px;
}

.hover-for-touch {
  position: relative;
}

.popular-artists {
  display: flex;
  flex-wrap: wrap;
}

.listing {
  height: 100%;
  border-bottom: 1px solid white;

}

.dd-artist-item-name {
  display: flex;
  width: 50%;
  margin: 5px 0;
  padding: 0;
  align-items: center;
}

.dd-artist-item-img-wrapper {
  max-width: 35px;
  max-height: 35px;
  margin-right: 5px;
}

.dd-artist-item-img-wrapper img {
  max-width: 35px;
  max-height: 35px;
  object-fit: cover;
  object-position: center;
  width: auto;
  height: auto;
  border-radius: 5px;
}

.dd-artist-item-name a {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 0;
  padding-left: 5px;
  font-weight: 400;
}

.dd-artist-item-name a h1 {
  line-height: 1.5em;
}
