<!DOCTYPE html>
<html>
  <head>
    <title>DrumKick</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <script async defer
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDDfD5ZKkPGcLq33cCK_vMX88xZv7qRdrI&callback=initMap">
    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
